<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <!-- <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Lotteries</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Lotteries</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!-- /Page Header -->

		<div class="row">
			<div class="col-xl-12 d-flex">
				<div class="card flex-fill">
				<app-lotto-list></app-lotto-list>
				</div>
			</div>
		</div>
    </div>
</div>